#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  color: #f72500;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.full {
  min-height: calc(100vh - 32px);
}
/* Botas */

/* HOME NAV BUTTON */
.left-arrow-home {
  display: none;
}

.bg-background:hover > .left-arrow-home {
  display: block;
}

.left-arrow-home-empty {
  display: block;
}

.bg-background:hover > .left-arrow-home-empty {
  display: none;
}

/* Quiz NAV BUTTON */

.left-arrow-quiz {
  display: none;
}
.right-arrow-quiz {
  display: none;
}

.bg-background:hover > .left-arrow-quiz {
  display: block;
}
.bg-background:hover > .right-arrow-quiz {
  display: block;
}

.left-arrow-quiz-empty {
  display: block;
}
.right-arrow-quiz-empty {
  display: block;
}

.bg-background:hover > .left-arrow-quiz-empty {
  display: none;
}
.bg-background:hover > .right-arrow-quiz-empty {
  display: none;
}

/* Add Quiz NAV BUTTON */

.left-arrow-addquiz {
  display: none;
}
.right-arrow-addquiz {
  display: none;
}

.bg-background:hover > .left-arrow-addquiz {
  display: block;
}
.bg-background:hover > .right-arrow-addquiz {
  display: block;
}

.left-arrow-addquiz-empty {
  display: block;
}
.right-arrow-addquiz-empty {
  display: block;
}

.bg-background:hover > .left-arrow-addquiz-empty {
  display: none;
}
.bg-background:hover > .right-arrow-addquiz-empty {
  display: none;
}

/* My Quiz NAV BUTTON */

.left-arrow-myquiz {
  display: none;
}
.right-arrow-myquiz {
  display: none;
}

.bg-background:hover > .left-arrow-myquiz {
  display: block;
}
.bg-background:hover > .right-arrow-myquiz {
  display: block;
}

.left-arrow-myquiz-empty {
  display: block;
}
.right-arrow-myquiz-empty {
  display: block;
}

.bg-background:hover > .left-arrow-myquiz-empty {
  display: none;
}
.bg-background:hover > .right-arrow-myquiz-empty {
  display: none;
}

/* Profile NAV BUTTON */

.right-arrow-profile {
  display: none;
}

.bg-background:hover > .right-arrow-profile {
  display: block;
}

.right-arrow-profile-empty {
  display: block;
}

.bg-background:hover > .right-arrow-profile-empty {
  display: none;
}

/* HOME NAV BUTTON */
.arrow {
  display: none;
}

.bg-background:hover .arrow {
  display: block;
}

.empty-arrow {
  display: block;
}

.bg-background:hover .empty-arrow {
  display: none;
}
